<div class="jumbotron jumbotron-fluid">
  <div class="container text-center p-5">
    <h1>公開講座</h1>
    <p>〇〇大学講師陣による楽しくわかりやすい講座を受けてみませんか？</p>
  </div>
</div>
<div class="container-fluid text-center p-5">
  <h2>Pick Up</h2>
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
      </div>
    </div>
  </div>
</div>
