/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.jumbotron {
  background-image: url("top.jpg");
  background-size: contain;
  background-position: center 50%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: #ffffff;
  border-radius: 30px;
  max-width: 800px;
}

.container h1 {
  font-weight: bold;
  display: inline-block;
  font-size: 48px;
  background: linear-gradient(transparent 60%, #ff6 60%);
}

.container-fluid h2 {
  font-weight: bold;
  display: inline-block;
  background: linear-gradient(transparent 60%, #6ff 60%);
}

.form-group {
  display: inline-block;
}

footer {
  background-color: #000;
  color: #333;
  text-align: center;
  margin-top: 20px;
}

.card-block-image img {
  width: 80%;
}

.pagy {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color:#666;
  text-decoration:underline;
}

.box_table {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 10px;
}

.box_img {
  display: inline-block;
  padding: 10px;
}